/***** BASE STYLES *****/
body {
  color: black;
  font-family: 'Montserrat', sans-serif;
}


/***** GRID *****/

.full-width {
  margin: auto;
  overflow: auto;
  width: 1240px
}

.third-width {
  float: left;
  width: 400px;
}


/***** HEADER *****/
header {
  border-bottom: 3px solid #77a466;
  color: #77a466;
  height: 110px;
  margin: 0 auto;
}

header h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0 40px;
  text-transform: uppercase;
}

header h1 span {
  color:black;
}

header nav {
  float: right;
  padding: 50px 0;
}

header nav ul {
  margin: 0px;
  padding: 0px;
}

header nav li {
  display: inline-block;
  font-weight: bold;
  font-size: 14pt;
  padding:0 10px;
  text-transform: uppercase;

}

/***** TOP SECTION *****/
#main-image img{
  border-bottom: 3px solid #77a466;
  margin-top: 0;
  padding-top: 0;
}
