/***** BASE STYLES *****/
body {
  color: black;
  font-family: 'Montserrat', sans-serif;
}


/***** GRID *****/

.full-width {
  margin: auto;
  padding: auto;
  overflow: auto;
  width: 1200px
}

.section-one, .section-two, .section-three {
  float: left;
  height: auto;
  width: 399px;
}


/***** HEADER TAGS *****/
h3, h4 {
  text-transform: uppercase;
}

h3 {
  color: #77a466;
  font-size: 18px;
}

h4 {
  font-size: 12px;
  padding: 5px 0;
}


/***** HEADER *****/
header {
  border-bottom: 3px solid #77a466;
  color: #77a466;
  height: 110px;
  margin: 0 auto;
}

header h1 {
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 38px 0;
  text-transform: uppercase;
}

header h1 span {
  color:black;
}

header nav {
  float: right;
  padding: 46px 0;
}

header nav ul {
  margin: 0px;
  padding: 0px;
}

header nav ul li {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  padding:0 10px;
  text-transform: uppercase;

}

/***** TOP SECTION *****/
.top-section, .bottom-section {
  margin: 0 auto;
  clear: both;
}

.main-img {
  height: auto;
  float: left;
}

.main-img img{
  border-bottom: 3px solid #77a466;

}

.main-text {
  height: auto;
  float: left;
}

.main-text h3 {
  padding: 5px 0;
}

.main-text p {
  font-size: 16px;
  line-height: 25px;
}

/***** BOTTOM SECTION *****/
.bottom-section {
  border-top: 1px solid #dedbdc;
}

.section-one h4 {
  padding: 10px 0;
}

.section-one ul {
  list-style: none;
  padding: 0;
}

.section-one ul li {
  padding: 10px 0;
  color: #77a466;
}

.section-two {
  border-right: 1px solid #dedbdc;
  border-left: 1px solid #dedbdc;
}

.section-two h4, .section-three h4 {
  padding: 10px 30px;
}

.section-two p, .section-three p {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.section-two p {
  line-height: 21px;
}

.section-three p {
  line-height: 24px;
}

/***** FOOTER  *****/
footer {
  border-top: 1px solid #dedbdc;
  height: 80px;
  text-align: center;
  clear: both;
}

footer span {
  color: #77a466;
  font-family: Galada;
  font-style: italic;
  text-transform: lowercase;
}
